body {
    margin: 0;
    padding: 0;
    background: black;
}

* {font-family: 'Spartan', sans-serif; transition: 0.4s ease-in-out;}

button:focus {outline: none;}
input:focus {outline: none;}

.glav-block {
    background: transparent;
    width: 90%;
    border: 2px solid transparent;
    padding: 15px;
    position: relative;
    left: 20px;
    top: 5px;
}
.site-name {
    font-size: 22pt;
    color: white;
    user-select: none;
}

#inp-min {
    width: 200px;
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 16pt;
    user-select: none;
}
#inp-min:focus {
    border: 2px solid white;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

#inp-max {
    width: 200px;
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 16pt;
    margin-left: 25px;
    user-select: none;
}
#inp-max:focus {
    border: 2px solid white;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

#btn-start {
    background: transparent;
    color: white;
    width: 120px;
    padding: 8px;
    border: 2px solid white;
    font-size: 20pt;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;

    box-shadow: inset 0 0px 0 transparent;
}
#btn-start:hover {
    box-shadow: inset 0 55px 0 white;
    color: black;
    letter-spacing: 2px;
}

#number-result {
    background: transparent;
    color: white;
    width: 90%;

    border: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 2px solid white;
    border-right: 2px solid transparent;

    padding: 15px;
    position: relative;
    left: 20px;
    font-size: 50pt;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .glav-block {
        width: 80%;
        position: relative;
        left: 5px;
        top: 5px;
    }
    #inp-max {
        margin-left: 0px;
        margin-top: 10px;
    }
    #number-result {
        width: 80%;
        position: relative;
        left: 5px;
        font-size: 40pt;
    }
}


